.big-root {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 2px solid red; */
  height: 76vh;
  min-height: 500px;
}

.start-button {
  margin-top: 20px;
  font-size: 28px;
}

.start-quiz-container{
  display: flex;
  justify-content: center;
}

.start-quiz{
    height: 30px;
    width: 10%;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 20px;
    cursor: pointer;
    border:1px solid #abc6fd;
    background-color: "";   
}

.start-quiz:hover{
  background-color: #abc6fd;
}

.overall-container{
  display: flex;
  justify-content: center;
}

.game-quiz-container {
  width: 90vw;
  min-width: 900px;
  height: 70vh;
  min-height: 500px;
  /* border: 5px solid red; */
  display: flex;
  justify-content: center;
  border-radius: 30px;
  /*position: relative;*/
  position: fixed;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.game-details-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* border: 3px solid red; */

  -webkit-filter: blur(1px);
  -moz-filter: blur(1px);
  -o-filter: blur(1px);
  -ms-filter: blur(1px);
  filter: blur(1px);
}

.game-details-container:hover {
  -webkit-filter: blur(0px);
  -moz-filter: blur(0px);
  -o-filter: blur(0px);
  -ms-filter: blur(0px);
  filter: blur(0px);
}

.game-details-container h1 {
  font-size: 1.4rem;
  color: rgb(110, 110, 110);
  /* border: 2px solid red; */
}

.game-question-container {
  width: 100%;
  /* border: 3px solid red; */
  font-size: 1.2rem;
}

.game-question-container h1 {
  margin-left: 20px;
}

.game-options-container {
  width: 100%;
  display: flex;
  align-items: left;
  /* border: 3px solid red; */
}

.answer-options {
  width: 100%;
  margin-left: 20px;
  display: flex;
  flex-direction: row;
  font-size: 18px;
}

.answer-options button {
  background-color: inherit;
  margin-left: 20px;
  font-size: 20px;
  font-weight: inherit;
  cursor: inherit;
  border: none;
}

.answer-options:hover {
  /* background-color: rgb(78, 78, 78); */
  font-weight: 600;
  cursor: pointer;
}

.next-button-container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  /* border: 3px solid red; */
}
.next-button-container button {
  margin: 20px;
  padding-left: 20px;
  padding-right: 20px;
  height: 2.5rem;
  background: none;
  color: rgb(25, 25, 25);
  font-weight: 600;
  border: 2px solid gray;
  cursor: pointer;
  font-size: 1.2rem;
}
.next-button-container button:hover {
  background-color: var(--theme-highlights-light-color);
}

.explanation-container {
  background-color: rgb(223, 223, 223);
  padding-left: 20px;
  height: 7rem;
  font-size: 20px;
}

.results-container {
  width: 100%;
  height: 100%;
  /* border: solid 3px red; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  /* background-color: var(--theme-highlights-light-color); */
  background: linear-gradient(lightgrey, var(--theme-highlights-light-color));
}

.results-header {
  /* border: solid 3px red; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.results-details {
  width: 15rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-around;
  /* border: solid 3px red; */
  font-size: larger;
  font-weight: 600;
}

.clickable {
  cursor: pointer;
}

.no-quiz-message {
  color: rgb(114, 114, 114);
}

.start-banner {
  display: flex;
  flex-direction: column;
  text-align: center;
}

/* Div Surrounding Container Styling */
