.newnote-button {
  border: 2px solid gray;
  cursor: pointer;
  background: white;
  height: 40px;
  width: 40px;
  font-size: 26px;
  padding: 0px;
  margin-right: 2.5px;
}

.newnote-button:hover {
  background-color: var(--theme-highlights-light-color);
}

.notebrief-each:hover {
  background-color: var(--theme-highlights-lighter-color);
}
